<div class="center">
    {{#link-to 'vehicles'}}
        <div class="button">Back</div>
    {{/link-to}}
</div>

<div class="center">


    <div class="row col-md-6">

        <div class="form-group ">
            <label>Plate</label>
            {{input value=vehicle.plate_number type='text' class='form-control'  }}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>Make</label>
            {{input value=vehicle.make type='text' class='form-control'  }}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>Model</label>
            {{input value=vehicle.model type='text'}}
        </div>
    </div>


</div>
<div class="center">
    {{#if schedule}}
        <table>
            <thead>
            <tr>
                <th>Day of Week</th>
                <th>Driver Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Vehicle Id</th>
            </tr>
            </thead>
            <tbody>
            {{#each schedule in schedule}}

                    <td>
                        {{schedule.str_day}}
                    </td>
                    <td>
                        {{schedule.driver_name}}
                    </td>
                    <td>
                        {{schedule.start_time}}
                    </td>
                    <td>
                        {{schedule.end_time}}
                    </td>
                    <td>
                        {{schedule.vehicle_id}}
                    </td>

            {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>