{{nav-bar}}
<div class="center">

    {{#link-to 'schedules'}}
        <div class="button">Back</div>
    {{/link-to}}
    <div class="row col-md-6">
        <div class="center">
            <div class="form-group col-md-5 required has-feedback">
                <label>Schedule Day</label>
                {{view 'select'
                value=schedule.day_of_week
                content=scheduleTypes
                optionValuePath='content.val'
                optionLabelPath='content.label'
                prompt='Please select a day of the week'
                class='form-control'}}
            </div>
        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group has-feedback required">
            <label>Start Time</label>
            {{input value=schedule.start_time type='text' class='form-control' placeholder='Start time'}}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group has-feedback required">
            <label>End Time</label>
            {{input value=schedule.end_time type='text' class='form-control' placeholder='End Time'}}
        </div>
    </div>

    <div class="button"  {{action "createVehilce" }}>Save</div>
</div>