{{nav-bar}}
<div class="center">
    {{#link-to 'schedules'}}
        <div class="button">Back</div>
    {{/link-to}}
    <div class="button" {{ action "update"}}>Save</div>
</div>
<div class="center">
    <div class="row col-md-6">

        {{schedule.day_of_week }}


    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>Start Time</label>
            {{input value=schedule.start_time type='text'  }}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>End Time</label>
            {{input value=schedule.end_time type='text' }}
        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group">
            <label>Vehicle</label>
            {{input value=schedule.vehicle_id type='text'  }}
        </div>
    </div>

</div>