{{nav-bar}}
<div class="center">
    {{#link-to 'schedules'}}
        <div class="button">Back</div>
    {{/link-to}}
    <div class="button" {{ action "update"}}>Save</div>
</div>
<div class="center">
    <div class="row col-md-6" >
        <label>Day of week: </label>
       <b> {{schedule.str_day }}</b>
    </div>
    <div class="row col-md-6">
        <div class="form-group">
            <label>Start Time</label>
            {{input value=schedule.start_time type='text' }}
        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>End Time</label>
            {{input value=schedule.end_time type='text' }}
        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group col-md-5 required has-feedback">
            <label>Vehicle</label>
            {{view 'select'
            value=vehicle.make
            content=vehicle
            prompt='Please select a Vehicle'
            class='form-control'}}
        </div>
    </div>

</div>