<div class="center">
    {{#link-to 'drivers'}}
        <div class="button">Back</div>
    {{/link-to}}

    <div class="button"  {{action "update" }}>Save</div>


</div>

<div class="center">


    <div class="row col-md-6">

        <div class="form-group ">
            <label>First Name</label>
            {{input value=driver.first_name type='text' class='form-control'  }}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>Last Name</label>
            {{input value=driver.last_name type='text' class='form-control'  }}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group ">
            <label>License Number</label>
            {{input value=driver.license_number type='text'}}
        </div>
    </div>


</div>
<div class="center">
    <div class="row col-md-6">
        <div class="form-group has-feedback required">
            <label>Day of Week</label>
            {{input value=schedule.day_of_week type='text' class='form-control' placeholder='Day of Week'}}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group has-feedback required">
            <label>Start Time</label>
            {{input value=schedule.start_time type='text' class='form-control' placeholder='Start time'}}

        </div>
    </div>
    <div class="row col-md-6">
        <div class="form-group has-feedback required">
            <label>End Time</label>
            {{input value=schedule.end_time type='text' class='form-control' placeholder='End Time'}}
        </div>
    </div>
    <div class="button"  {{action "addSchedule" }}>Add Schedule</div>
</div>

<div class="center">
    {{#if schedule}}
        <table>
            <thead>
            <tr>
                <th>Day Of Week</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Vehicle Id</th>
            </tr>
            </thead>
            <tbody>
            {{#each schedule in schedule}}
                <tr><
                    <td>
                        {{schedule.day_of_week}}
                    </td>
                    <td>
                        {{schedule.start_time}}
                    </td>
                    <td>
                        {{schedule.end_time}}
                    </td>
                    <td>
                        {{schedule.vehicle_id}}
                    </td>
                </tr>
            {{/each}}
            </tbody>

        </table>
    {{/if}}
</div>