{{nav-bar}}
<
<div class="'center">
    <table>
        <thead>
        <tr>
            <th>Driver Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Vehicle Id</th>
        </tr>
        </thead>
        <tbody>
        {{#each schedule in model}}
            {{#link-to 'schdule/view' driver.id tagName='tr' class='list-link'}}

                <td>
                    {{schedule.driver_name}}
                </td>
                <td>
                    {{schedule.start_time}}
                </td>
                <td>
                    {{schedule.end_time}}
                </td>
                <td>
                    {{schedule.vehicle_id}}
                </td>
            {{/link-to}}
        {{/each}}
        </tbody>
    </table>
</div>